<div class="product-list">
    <h2>Product List</h2>

    <search-bar (search)="onSearch($event)" [debounceTime]="500"></search-bar>

    <ul>
        <li *ngFor="let product of filteredProducts">
            <product [product]="product"></product>
      </li>
    </ul>
    <app-pagination [currentPage]="currentPage" [pageSize]="pageSize" [totalItems]="totalItems"
        [pageSizeOptions]="pageSizeOptions" (pageChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)"></app-pagination>
</div>