:host {
    display: block;
    padding: 1rem;
 
}

.filter-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filter-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.multiselect-container {
    position: absolute;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
}

.multiselect-container.show {
    display: block;
}

.multiselect-options {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.multiselect-options div {
    display: flex;
    align-items: center;
}

.multiselect-option {
    display: flex;
    align-items: center;
    flex-direction: row;
}


.range-group {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-direction: row;
    label {
        width: 15%;
    }
    input {
        width: 80%;
    }
}

.range-filter {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}

.filter-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    margin-top: 10px;
}